<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="OFF">
    <Appenders>
        <RollingFile name="outErrorFile" fileName="logs/algorithms.log"
                     filePattern="logs/$${date:yyyy-MM}/merge_logs-%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="30MB"/>
        </RollingFile>

        <Console name="consolePrint" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- <logger name="com.ysq.test.MyTest.java" level="debug" additivity="false"> <appender-ref ref="consolePrint" /> </logger> -->
        <!-- 级别顺序（低到高）：DEBUG < INFO < WARN < ERROR < FATAL -->
        <Root level="ERROR">
            <!-- 只要是比DEBUG级别高的就在控制台打印出来 -->
            <Appender-ref level="ERROR" ref="consolePrint"/>
            <!-- 只要是级别比ERROR高的，包括ERROR就输出到outErrorFile文件之中 -->
            <Appender-ref level="ERROR" ref="outErrorFile"/>
        </Root>
    </Loggers>
</Configuration>